<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Algo Trading - Python</title>
  <style>
    .button {
      background-color: #53a5b0;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .center {
      text-align: center;
    }
  </style>
  <script>
    function loginToRunAlgo() {
      window.location.href = "/apis/broker/login/{{broker}}"
    }
    function loginToBacktest() {
      window.location.href = "/apis/broker/login/icici?redirect_to=backtest"
    }
  </script>

</head>

<body>
  <h1 style="color: blue" class="center">Welcome to algo trading in python</h1>
  <h3 class="center">Choose an option:</h3>
  <div class="center">
    <button class="button" onClick="loginToRunAlgo()">
      Login to Run Algo
    </button>
    <button class="button" onClick="loginToBacktest()">
      Login to Backtest
    </button>
  </div>
</body>

</html>
